/* ========== SCROLL UP =======*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: green;
  color: white;
  box-shadow: 0 12px 24px hsla(0, 0%, 0%, .3);
  display: inline-flex;
  padding: 0px 16px 16px;
  font-size: 2rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}


.scrollup:hover {
  transform: translateY(-.5rem);
}

/* Show Scroll up */
.show-scroll {
  bottom: 3rem;
}
