extends layout/app

block page
  include chunk/header

  h1.title Contacts

  img(src="img/water.jpeg", alt="Photo water", width="500")

  p.description text description

  include chunk/footer

  script(src="./js/contacts.bundle.js")
