extends layout/app

block page
  // ...... HEADER ......
  include chunk/header
  // ...... MAIN ......
  main.main
    // ...... SECTION HOME ......
    include chunk/home
    // ...... SECTION ......

  // ...... FOOTER ......
  include chunk/footer
  //- ...... SCROLL UP ......
  include chunk/scrollup
  //- ...... SCROLL REVEAL ......
  //- ...... SWIPER JS ......
  // ...... INDEX JS ......
  script(src="./js/index.bundle.js")
