header.header#header
  nav.nav._container
    a(href="#", class="nav__logo") Logo

    div.nav__menu#nav-menu
      ul.nav__list
        li.nav__item
          a(href="#home", class="nav__link active-link") Home
        li.nav__item
          a(href="#new", class="nav__link") New
        li.nav__item
          a(href="#about", class="nav__link") About
        li.nav__item
          a(href="#contact", class="nav__link") Contact

      // -- Close button --
      div.nav__close#nav-close
        span &#x2715;

    // -- Toggle button --
    div.nav__toggle#nav-toggle
      span
